<h1>{{title}}</h1>
<p class="row">
  <button class="btn btn-default"
  (click)="updateFortune()">Get another one!</button>
  <label>
    <input type="checkbox" [(ngModel)]="cleanHumor"/> Protect me from naughty fortunes
  </label>
</p>

<div *ngIf="fortune">
  <div class="alert alert-danger" role="alert" [style.display]="fortune.offensive ? 'block' : 'none'">
    <strong>Oh fiddlesticks!</strong>
    This fortune is from the "offensive" folder. Shield your eyes!
  </div>
  <div class="row">
    <pre class="fortune">{{fortune.body}}</pre>
  </div>
  <div class="row">
    <a class="btn btn-default" (click)="router.navigate(['/manage', fortune.id])"> Edit this fortune </a>
  </div>
</div>
